@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Fira Sans", serif;
}

a {
    text-decoration: none;
}

.button-primary {
    display: inline-block;
    padding: 17px 34px;
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}


/* nav bar styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.logo {
    color: #0E0E0E;
    font-size: 2rem;
    font-weight: 700;
}

.sign-in-button {
    color: #006A50;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    display: inline-block;
}


/* Banner Styles */
.banner {
    padding: 80px;
    border-radius: 24px;
    background: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greettings {
    color: rgba(14, 14, 14, 0.50);
    font-size: 1.5rem;
    font-weight: 500;
}

.banner-title {
    color: #0E0E0E;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}
