@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #F1F1F3;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Fira Sans", serif;
}

a {
    text-decoration: none;
}

.button-primary {
    display: inline-block;
    padding: 17px 34px;
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    transition: 0.5s;
}

.button-primary:hover {
    background: #004b38;
    cursor: pointer;
}

.section-title {
    color: #0E0E0E;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 80px;
}

.card-container {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.card-title {
    color: rgba(14, 14, 14, 0.80);
    font-size: 1.25rem;
    font-weight: 700;
}

.text-primary {
    color: rgba(14, 14, 14, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
}


/* nav bar styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.logo {
    color: #0E0E0E;
    font-size: 2rem;
    font-weight: 700;
}

.sign-in-button {
    color: #006A50;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    display: inline-block;
    transition: 0.5s;
}

.sign-in-button:hover {
    background: #006A50;
    color: #FFF;
}


/* Banner Styles */
.banner {
    padding: 80px;
    border-radius: 24px;
    background: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greettings {
    color: rgba(14, 14, 14, 0.50);
    font-size: 1.5rem;
    font-weight: 500;
}

.banner-title {
    color: #0E0E0E;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}


/* main section styles start */

/* pillar of banladesh section styles */
.pillars-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    transition: 0.5s;
}

.pillars-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}


/* The Vision of Future section styles */
.vision-card-1 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 0px solid #5490F5;
    background: rgba(84, 144, 245, 0.20);
}

.vision-card-1-button {
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    background: #5490F5;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.vision-card-1-button:hover {
    background: #3475e7;
}

.vision-card-2 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
}

.vision-card-2-button {
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    background: #09A15C;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.vision-card-2-button:hover {
    background: #04854b;
}
.vision-card-3 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
}

.vision-card-3-button {
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    background: #FFC239;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.vision-card-3-button:hover {
    background: #f0b01b;
}


.quote-container {
    margin-top: 32px;
    display: flex;
    padding: 48px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    position: relative;
}

.quote-bg {
    position: absolute;
    top: 23px;
}

.quote-author-name {
    color: rgba(14, 14, 14, 0.80);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px; /* 120% */
}


/* Your Opinion Matters Section Styles */
.opinion-container {
    padding: 32px;
    border-radius: 16px;
    background: #FFF;
    margin-top: 24px;
}

.heading {
    display: flex;
    padding: 24px;
    gap: 24px;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #C6E4D6;
}

.heading p {
    color: #0E0E0E;
    font-size: 1.25rem;
    font-weight: 600;
}
.opinion-box {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.10);
}

.opinion-box p {
    color: #0E0E0E;
    font-size: 1rem;
    font-weight: 600;
    padding: 24px;
    display: flex;
    align-items: center;
}

.opinion {
    padding: 24px;
    border-left: 1px solid rgba(14, 14, 14, 0.15);
}

    
.opinion button {
    display: flex;
    align-items: center;
    color: #0E0E0E;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background: #C6E4D6;
    padding: 10px 14px;
}


/* News sections styles */

.news-container-1 {
    padding: 48px;
    border-radius: 24px;
    background: #FFF;
    margin-top: 32px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.news-container-1 img {
    border-radius: 24px;
}

.news-title {
    color: rgba(14, 14, 14, 0.80);
    font-size: 2rem;
    font-weight: 700;
}

.megazine {
    margin-top: 12px;
}

.date-time {
    color: rgba(14, 14, 14, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 12px;
}

.news-description {
    color: rgba(14, 14, 14, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 12px;
    margin-bottom: 32px;
}

.news-container-2 {
    padding: 48px;
    border-radius: 24px;
    background: #FFF;
    margin-top: 32px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    align-items: center;
}

.news-container-2 img {
    border-radius: 24px;
}


/* doante section styles */
.donate-title {
    color: #0E0E0E;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 80px;
}

.donate-description {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 24px;
}

.donate-container {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.donate-ammount {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.80);
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.5s;
}

.donate-ammount:hover {
    background: #C6E4D6;
}

.other-amount-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.other-ammount-inp {
    padding: 20px 40px;
    outline: none;
    margin: 32px 0;
    border: 0;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    text-align: center;
    color: rgba(14, 14, 14, 0.30);
    font-size: 1.25rem;
    font-weight: 400;
    width: 1032px;
}

/* subscribe section styles */
.subscribe-container {
    padding: 80px 100px;
    border-radius: 24px;
    background: #C6E4D6;
    margin-top: 80px;

}

.subscribe-title {
    color: #0E0E0E;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.subscribe-description {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 24px;
    width: 622px;
    margin: 0 auto;

}

.subscribe {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.subscribe input {
    padding: 18px 40px;
    outline: 0;
    border-radius: 8px 0px 0px 8px;
    background: #FFF;
    border: 0;
    color: rgba(14, 14, 14, 0.30);
    font-size: 1rem;
    font-weight: 400;
    width: 600px;

}

.subscribe button {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: 0;
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    outline: 0;
}


/* footer secton styles */
footer {
    margin-top: 80px;
    background: #FFF;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-title {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.devider {
    width: 1122px;
    height: 1px;
    background: rgba(14, 14, 14, 0.10);    
}

.social-container {
    display: flex;
    gap: 23px;
}

.social-container a {
    transition: 0.5s;
}

.social-container a:hover {
    transform: translateY(-5px);
}